# API Backend URL (Render)
NEXT_PUBLIC_API_URL=http://localhost:4000

# OAuth Google
NEXT_PUBLIC_GOOGLE_CLIENT_ID=votre-google-client-id

# OAuth GitHub
NEXT_PUBLIC_GITHUB_CLIENT_ID=votre-github-client-id
