# Turso Database
TURSO_DATABASE_URL=libsql://votre-db-name-votre-org.turso.io
TURSO_AUTH_TOKEN=votre-token-ici

# Server
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Seed protection
SEED_SECRET=votre-secret-pour-seed

# OAuth Google
GOOGLE_CLIENT_ID=votre-google-client-id

# OAuth GitHub
GITHUB_CLIENT_ID=votre-github-client-id
GITHUB_CLIENT_SECRET=votre-github-client-secret
